<h2>Two Way Binding</h2>

<div style="margin: 30px">

  <h3>Message</h3>

  <input
    [style.font-size.px]="myFontSize"
    type="text"
    placeholder="Please Fill Message"
    style="padding: 10px"
    [(ngModel)]="myMessageString"/>

  <h4 [style.color]="myColor">Your Message ==> {{myMessageString}}</h4>

  <button
    (click)="onClickClear()"
    [style.font-size.px]="myFontSize"
    style="padding: 10px">{{myLabelButton}}</button>

  <h3>Last Message ==> {{myLastMessageString}}</h3>

</div>
